@charset "UTF-8";

@use 'fonts.scss';
@use 'variables.scss';

.about-page{
    width: 80vw;
    margin: auto;
    .about-section{
        .about-title{

        }

        p{

        }
        
        h2{

        }

        ul{
            padding: 0;
            list-style: none;
            li{

            }
        }
    }
}