@charset "UTF-8";

@use 'fonts.scss';
@use 'variables.scss';

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact-section{
        .contact-header{

        }

        .contact-form{
            .form-input-container {
                display: grid;
                grid-template-columns: 1fr; // or use min-content 1fr for auto-fit label
                align-items: center;
                margin: 10px 0;
                width: 100%;
                padding: 0px 10px 0px 0px;

                .form-label {
                  text-align: left;
                  margin-bottom: 5px;
                }
              
                .form-input {
                  width: 100%;
                  font-size: variables.$font-size-mobile-a;
                  font-family: Futura;
                  padding: 6px 10px;
                  border-radius: 10px;
                  border: 0;
                }
              }
            

            .form-button{
                background-color: variables.$colour-brand-orange;
                border: 1px solid variables.$colour-brand-orange;
                border-radius: 4px;
                box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
                box-sizing: border-box;
                color: white;
                font-family: Futura;
                font-size: variables.$font-size-mobile-a;
                cursor: pointer;
                outline: none;
                outline: 0;
                padding: 0.5rem 1rem;
                margin-top: 10px;
                text-align: center;
                transform: translateY(0);
                transition: transform 150ms, box-shadow 150ms;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                &:hover {
                  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
                  transform: translateY(-2px);
                }
            }

            .form-confirmation-message{
                &.hidden{
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 636px) {
    .contact{
        .contact-section{
            .contact-form{
                width: 70vw;
                .form-input-container {
                    grid-template-columns: 120px 1fr; // a bit more space for desktop
                    font-size: variables.$font-size-desktop-a;

                    .form-label {
                    font-size: variables.$font-size-desktop-a;
                    }

                    .form-input {
                    font-size: variables.$font-size-desktop-a;
                    }
                }
                
    
                .form-button{
                    font-size: variables.$font-size-desktop-a;
                    padding: 0.5rem 1rem;
                    margin-top: 10px;
                }
    
                .form-confirmation-message{
                    &.hidden{
                        display: none;
                    }
                }
            }
        }
    }
}