@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/futura/futura-regular.ttf') format('ttf');
  }
  
  @font-face {
    font-family: 'Futura';
    font-style: italic;
    font-weight: 700;
    src: local(''), url('/fonts/futura/futura-light-italic.ttf') format('ttf');
  }