@charset "UTF-8";

@use 'fonts.scss';
@use 'variables.scss';

/* NAV STYLES */
.mobile-nav-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: variables.$colour-brand-green;
    .mobile-nav-image{
      margin-left: 20px;
      img{
        width: auto;
        height: 100px;
      }
    }
    .hamburger {
      padding-top: 20px;
      padding-left: 20px;
      margin-right: 20px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      .hamburger-line {
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 10px;
        background-color: variables.$colour-brand-orange;
        transition: all 0.3s ease;
      }
      &.open {
        .hamburger-line:nth-child(1) {
          transform: rotate(45deg) translateY(21px);
        }
        .hamburger-line:nth-child(2) {
          opacity: 0;
        }
        .hamburger-line:nth-child(3) {
          transform: rotate(-45deg) translateY(-21px);
        }
      }
    } 
  }
  
  
  .nav-container{
    &.bg-wave{
      background-image: url('../../public/wave.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      padding-bottom: 78px;
      @media screen and (min-width: 636px) {
        padding-bottom: 110px;
      }
      @media screen and (min-width: 850px) {
        padding-bottom: 20vh;
      }
    }
  
    &.bg-index{
      background-color: variables.$colour-brand-green;
    }
  
    &.expanded{
      height: 150vh;
    }
  
    .nav-links {
      &.expanded {
        display: block;
        min-height: 40vh;
        transform: translateY(0%);
      }
        width: 100%;
        top: 5rem;
        left: 48px;
        display: none;
        margin: 0;
        .nav-link {
            display: block;
            text-align: center;
            padding: 10px 0;
            text-decoration: none;
            font-size: variables.$font-size-mobile-navigation;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            &:hover, :focus {
                background-color: variables.$colour-brand-orange;
              }

          }
          
          
          .header-image{
            display: none;
          }
      }
      
      
  }
    
  @media screen and (min-width: 850px) {
    .mobile-nav-container{
      display: none;
    }
  
    .nav-container{
      &.bg-wave{
        padding-bottom: 20vh;
      }
      .nav-links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        max-height: 20vh;
        .header-image{
          display: inline-block;
          min-width: 10rem;
          max-width: 15rem;
          picture img{
            width: 100%;
            height: auto;
          }
        }
        .nav-link{
          display: inline-block;
          padding: 15px 20px;
          width: 10rem;
          &.active {
            border-bottom: 2px solid variables.$colour-brand-orange;
          }
        }
      }
    }
  }
  
  /* END NAV STYLES */