@charset "UTF-8";

@use 'fonts.scss';
@use 'variables.scss';

.swiper{
    .swiper-wrapper{
        .swiper-slide{
            img{
                max-width: 80vw;
                max-height: 40vh;
            }
        }
    }
    .swiper-pagination{
        position: relative;
    }
}

@media screen and (min-width: 636px) {
    .swiper{
        .swiper-wrapper{
            .swiper-slide{
                img{
                    max-width: 30vw;
                    max-height: 40vh;
                }
            }
        }
        .swiper-pagination{
            position: relative;
        }
    }
}