@charset "UTF-8";

@use 'fonts.scss';
@use 'variables.scss';



body {
	margin: variables.$spacing-0;
	background: variables.$colour-brand-background;
	font-family: Futura;
	text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

/* NAV STYLES */

header{
  background-color: variables.$colour-brand-green;
}

.hamburger {
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: variables.$colour-brand-orange;
  }
} 

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: variables.$colour-brand-orange;
    display: none;
    margin: 0;
    a {
        display: block;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
      
      a:hover, a:focus {
        background-color: variables.$colour-brand-orange;
      }
      .header-image{
        display: none;
      }
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      padding-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      width: auto;
      background: variables.$colour-brand-green;
      .header-image{
        display: inline-block;
        margin: 0 5rem;
        width: 10rem;
        height: auto;
        img{
          width: 100%;
        }
      }
      a{
        display: inline-block;
        padding: 15px 20px;
        width: 10rem;
      }
    }

    .hamburger {
      display: none;
    }
  }

  /* END NAV STYLES */

  /* INDEX */
  /* HERO */
  .hero{
    background: variables.$colour-brand-green;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    .hero-content{
      padding: 50px 0px 0px 10px;
      text-align: left;
      h1{
        text-align: left;
        margin-bottom: 0px;
        font-size: 4vw;
      }
      p{
        text-align: left;
        font-size: 2vw;
        font-style: italic;
      }
    }
    

    .wave{
      background-color: variables.$colour-brand-orange;
    }
  }

  @media screen and (min-width: 636px) {
    .hero{
      background: variables.$colour-brand-green;
      margin: 0;
      display: flex;
      justify-content: center;
      color: white;
      .hero-content{
        padding: 5vw 0px 0px 0px;
        text-align: left;
        h1{
          text-align: left;
          margin-bottom: 0px;
          font-size: 3vw;
        }
        p{
          text-align: left;
          font-size: 1vw;
          font-style: italic;
        }
      }
      
  
      .wave{
        background-color: variables.$colour-brand-orange;
      }
    }
  }

/* END HERO */

/* INFO BLOCKS */
.info-block-container {
  display: flex;
  flex-direction: column;
  color: white;
  .info-block{
    background-color: variables.$colour-brand-green;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    .info-img{
      img{
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 636px) {
  .info-block-container {
    justify-content: center;
    flex-direction: row;
    .info-block{
      width: 15vw;
    }
  }
}
/* END INFO BLOCKS */
/* END INDEX */

/* FOOTER */
footer{
  background: variables.$colour-brand-green;
  padding: 15px 0px;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

/* SOCIAL */
.social-button{
  padding: 0.5rem 1rem;
  color: white;
  background-color: variables.$colour-brand-orange;
  text-decoration: none;
}
/* END SOCIAL */
/* END FOOTER */