@charset "UTF-8";

@use 'fonts.scss';
@use 'variables.scss';



body {
	margin: variables.$spacing-0;
	background: variables.$colour-brand-background;
	font-family: Futura;
	text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

h1{
  font-size: variables.$font-size-mobile-h1;
}

h2{
  font-size: variables.$font-size-mobile-h2;
}

p{
  font-size: variables.$font-size-mobile-p;
}

a{
  font-size: variables.$font-size-mobile-a;
}

@media screen and (min-width: 636px) {
  h1{
    font-size: variables.$font-size-desktop-h1;
  }

  h2{
    font-size: variables.$font-size-desktop-h2;
  }

  p{
    font-size: variables.$font-size-desktop-p;
  }

  a{
    font-size: variables.$font-size-desktop-a;
  }
}

/* NAV STYLES */
.hamburger {
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: variables.$colour-brand-green;
  .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: variables.$colour-brand-orange;
  }
} 

.nav-container{
  &.bg-wave{
    background-image: url('../../public/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 60px;
  }

  &.bg-index{
    background-color: variables.$colour-brand-green;
  }

  .nav-links {
    &.expanded {
      display: block;
      min-height: 40vh;
    }
      width: 100%;
      top: 5rem;
      left: 48px;
      display: none;
      margin: 0;
      a {
          display: block;
          text-align: center;
          padding: 10px 0;
          text-decoration: none;
          font-size: variables.$font-size-mobile-navigation;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
        }
        
        a:hover, a:focus {
          background-color: variables.$colour-brand-orange;
        }
        .header-image{
          display: none;
        }
    }
    
    
}
  
@media screen and (min-width: 636px) {
  .hamburger {
    display: none;
  }

  .nav-container{
    &.bg-wave{
      padding-bottom: 20vh;
    }
    .nav-links {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      max-height: 20vh;
      .header-image{
        display: inline-block;
        width: 15rem;
        picture img{
          width: 100%;
          height: auto;
        }
      }
      a{
        display: inline-block;
        padding: 15px 20px;
        width: 10rem;
      }
    }
  }
}

/* END NAV STYLES */

/* FOOTER */
footer{
  background: variables.$colour-brand-green;
  padding: 15px 0px;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

/* SOCIAL */
.social-button{
  padding: 0.5rem 1rem;
  color: white;
  background-color: variables.$colour-brand-orange;
  text-decoration: none;
}
/* END SOCIAL */
/* END FOOTER */