@charset "UTF-8";

@use 'fonts.scss';
@use 'variables.scss';



body {
	margin: variables.$spacing-0;
	background: variables.$colour-brand-background;
	text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Futura, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

.main{
  flex-grow: 1;
}

h1{
  font-size: variables.$font-size-mobile-h1;
  color: variables.$colour-brand-green;
}

h2{
  font-size: variables.$font-size-mobile-h2;
  color: variables.$colour-brand-orange;
}

p{
  font-size: variables.$font-size-mobile-p;
}

a{
  font-size: variables.$font-size-mobile-a;
}

.custom-button{
    width: fit-content;
    text-decoration: none;
    background-color: variables.$colour-brand-orange;
    border: 1px solid variables.$colour-brand-orange;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: white;
    font-family: Futura;
    font-size: variables.$font-size-mobile-a;
    cursor: pointer;
    outline: none;
    outline: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;
    align-items: center;
    &:hover {
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
      transform: translateY(-2px);
    }
}

@media screen and (min-width: 636px) {
  h1{
    font-size: variables.$font-size-desktop-h1;
  }

  h2{
    font-size: variables.$font-size-desktop-h2;
  }

  p{
    font-size: variables.$font-size-desktop-p;
  }

  a{
    font-size: variables.$font-size-desktop-a;
  }
}