/* colours */
/* oranje */
//$colour-brand-orange: #ff9438;
//$colour-brand-green: #0ba086;

$colour-brand-orange: #ff9438;

$colour-brand-background: #f2f2f2;

/* groen */
$colour-brand-green: #79d1c2;

$colour-brand-light-orange: #ff953865;


/* spacing */
$spacing-px: 1px;
$spacing-0: 0;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-32: 8rem;

/* FONT SIZE */
/* mobile */

$font-size-mobile-h1: 2rem;
$font-size-mobile-h2: 1.5rem;
$font-size-mobile-p: 1rem;
$font-size-mobile-navigation: 1.2rem;
$font-size-mobile-a: 1rem;

/* desktop */
$font-size-desktop-h1: 3vw;
$font-size-desktop-h2: 2vw;
$font-size-desktop-p: 1vw;
$font-size-desktop-a: 1.2rem;