---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Feline Consulting";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="hero">
    <div class="hero-content">
      <h1>Designs die er niet alleen goed uitzien,</br>
        maar ook goed voelen.</h1>
        <p>Of het nu gaat om de start van een merk of een nieuw hoofdstuk in het leven <br>
          wij maken doordacht design dat jouw verhaal vertelt. <br>
          Van krachtige logo’s tot lieve kaartjes, elk ontwerp voelt 100% als jou.</p>
    </div>
    
  </div>
  <div class="wave">
    <svg viewBox="0 0 500 110">
      <path d="M 0 50 C 150 150 330 -30 500 50 L 500 0 L 0 0" fill="#79d1c2" opacity="0.8"></path>
      <path d="M 0 50 C 215 150 250 0 500 100 L 500 0 L 0 0" fill="#79d1c2" opacity="0.5"></path>
      <path d="M 0 50 C 150 150 300 0 500 80 L 500 0 L 0 0" fill="#79d1c2"></path>
    </svg>
  </div>

  <div class="info-block-container">
    <div class="info-block">
      <div class="info-img">
        <img src="src/assets/Feline_Consulting_Logo_High.png"/>
      </div>
      <div class="info-title">
        <h2>Brand Equity</h2>
      </div>
      <div class="info">
        <p>We zoeken samen naar wat jouw merk uniek maakt. Deze merkwaarde vertalen wij in design om jouw zaak te onderscheiden van de rest.</p>
      </div>
    </div>
    <div class="info-block">
      <div class="info-img">
        <img src="src/assets/Feline_Consulting_Logo_High.png"/>
      </div>
      <div class="info-title">
        <h2>Brand Equity</h2>
      </div>
      <div class="info">
        <p>We zoeken samen naar wat jouw merk uniek maakt. Deze merkwaarde vertalen wij in design om jouw zaak te onderscheiden van de rest.</p>
      </div>
    </div>
    <div class="info-block">
      <div class="info-img">
        <img src="src/assets/Feline_Consulting_Logo_High.png"/>
      </div>
      <div class="info-title">
        <h2>Brand Equity</h2>
      </div>
      <div class="info">
        <p>We zoeken samen naar wat jouw merk uniek maakt. Deze merkwaarde vertalen wij in design om jouw zaak te onderscheiden van de rest.</p>
      </div>
    </div>
    <div class="info-block">
      <div class="info-img">
        <img src="src/assets/Feline_Consulting_Logo_High.png"/>
      </div>
      <div class="info-title">
        <h2>Brand Equity</h2>
      </div>
      <div class="info">
        <p>We zoeken samen naar wat jouw merk uniek maakt. Deze merkwaarde vertalen wij in design om jouw zaak te onderscheiden van de rest.</p>
      </div>
    </div>
  </div>
</BaseLayout>