---
import 'swiper/swiper-bundle.css';
import 'swiper/css';
import 'swiper/css/pagination';

import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/portfolio-styles.scss';

const pageTitle = "Portfolio - Feline Consulting";

const logoImages = [
  '../../public/images/portfolio/logos/logo1.png',
  '../../public/images/portfolio/logos/logo2.png',
  '../../public/images/portfolio/logos/logo3.png'
];

const inviteImages = [
  '../../public/images/portfolio/invites/invite1.jpg',
  '../../public/images/portfolio/invites/invite2.jpg',
  '../../public/images/portfolio/invites/invite3.jpg'
];

import PortfolioCarousel from '../../public/Carousel.jsx';
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Logo's</h1>
    <PortfolioCarousel images={logoImages} client:only="react" />
    <h1>Uitnodigingen</h1>
    <PortfolioCarousel images={inviteImages} client:only="react" />
</BaseLayout>