---
import 'swiper/swiper-bundle.css';
import 'swiper/css';
import 'swiper/css/pagination';

import BaseLayout from '../layouts/BaseLayout.astro';
import PortfolioCarousel from '../components/Carousel.tsx';

import '../styles/portfolio-styles.scss';

const pageTitle = "Portfolio - Feline Consulting";

const logoImages = [
  '/images/portfolio/logos/logo1.png',
  '/images/portfolio/logos/logo2.png',
  '/images/portfolio/logos/logo3.png'
];

const inviteImages = [
  '/images/portfolio/invites/invite1.jpg',
  '/images/portfolio/invites/invite2.jpg',
  '/images/portfolio/invites/invite3.jpg'
];
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Logo's</h1>
    <PortfolioCarousel images={logoImages} client:visible />
    <h1>Uitnodigingen</h1>
    <PortfolioCarousel images={inviteImages} client:visible />
</BaseLayout>