---
import '../styles/services-styles.scss';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Picture } from 'astro:assets';
import felineLogo from '../../public/Feline_Consulting_Logo_High.png';
const pageTitle = "Services - Feline Consulting";

---
<BaseLayout pageTitle={pageTitle}>
    <div class="services-container">
        <h1>Onze diensten</h2>
        <p>
          Van persoonlijke ontwerpen tot zakelijke branding — Feline Consulting helpt je verhaal visueel tot leven brengen.
        </p>
    
        <div class="services-section">
            <div class="services-section-card">
                <!-- B2C Services -->
                <h2>Voor Particulieren</h2>
                <p>Geboortekaartjes</p>
                <p>Trouwkaarten & uitnodigingen</p>
                <p>Feest- & seizoenskaarten</p>
                <p>Persoonlijke ontwerpen op maat</p>
            </div>
            <div class="services-section-card">
                <!-- B2B Services -->
                <h2>Voor Ondernemingen</h2>
                <p>Logo & visuele identiteit</p>
                <p>Branding & verpakkingsdesign</p>
                <p>Social media visuals</p>
                <p>Drukwerk & visitekaartjes</p>
            </div>
        </div>
    </div>
</BaseLayout>