---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';

import '../styles/nav-styles.scss';

const { pageType } = Astro.props;
---
<header>
  <nav>
    <Hamburger />
    <Navigation pageType={pageType}/>
  </nav>
</header>