---
import { Picture } from 'astro:assets';
import orangeLogo from '../../public/Logo_Orange.png';

const { pageType } = Astro.props;
---

<div class={pageType === 'index' ? 'nav-container bg-index' : 'nav-container bg-wave'} id="nav-container">
    <div class="nav-links" id="nav-links">
        
        <a class={`nav-link ${pageType === 'index' ? 'active' : ''}`} href="/">Home</a>
        <a class={`nav-link ${pageType === 'about' ? 'active' : ''}`} href="/about/">About</a>
        <a class={`nav-link ${pageType === 'services' ? 'active' : ''}`} href="/services/">Services</a>
        <a class="home-link" href="/">
            <div class="header-image">
                <Picture src={orangeLogo} alt="Logo"/>
            </div>
        </a>
        <a class={`nav-link ${pageType === 'portfolio' ? 'active' : ''}`} href="/portfolio/">Portfolio</a>
        <a class={`nav-link ${pageType === 'contact' ? 'active' : ''}`} href="/contact/">Contact</a>
        <a class={`nav-link ${pageType === 'blog' ? 'active' : ''}`} href="/blog/">Blog</a>
    </div>
</div>