---
import { Picture } from 'astro:assets';
import orangeLogo from '../../public/Logo_Orange.png';
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/services/">Services</a>
    <div class="header-image">
        <Picture src={orangeLogo} alt="Logo"/>
    </div>
    <a href="/portfolio/">Portfolio</a>
    <a href="/contact/">Contact</a>
    <a href="/blog/">Blog</a>
</div>