---
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/services/">Services</a>
    <div class="header-image"><img src="src/assets/Logo_Orange.png"/></div>
    <a href="/portfolio/">Portfolio</a>
    <a href="/contact/">Contact</a>
    <a href="/blog/">Blog</a>
</div>